.wrapper {
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}

.error {
  font-size: 48px;
  color: grey;
}

.text {
  color: grey;
}

.button {
  width: 60%;
  height: 10%;
  margin-top: 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.1);
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  font-size: 200%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

@media (max-width: 670px) {
  .button {
    font-size: 90%;
    margin-top: 100px;
  }
}
