.Eduludo {
  box-sizing: border-box;
  padding: 30;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.goBackButton {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  font-size: 90%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.HeaderFlex {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Coins {
  width: 100px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.CoinImg {
  max-width: 30px;
  max-height: 30px;
  margin: 0px;
}

.CoinsCount {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-family: "Alfa Slab One", cursive;
  color: #dd4b3c;
  text-align: right;
}

.EduludoWrapper {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
}

.Example {
  font-family: "Alfa Slab One", cursive;
  margin: 0;
  font-size: 700%;
  color: #471d5e;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  height: 50px;
  font-size: 15em;
  color: #acdd86;
  background-color: inherit;
  text-shadow: 3px 3px 16px white;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dd4b3c;
  height: 50px;
  font-size: 15em;
  background-color: inherit;
  text-shadow: 3px 3px 16px white;
}

.fadeOut {
  position: absolute;
  animation: slideImage 2s;
  -webkit-animation: slideImage 1.5s 1.5s ease-in-out;
  -moz-animation: slideImage 1.5s 1.5s ease-in-out;
}

.addCoin {
  animation: rotateCoin 1s;
  -webkit-animation: rotateCoin 1.5s ease-in-out;
  -moz-animation: rotateCoin 1.5s ease-in-out;
}

.addCoin1 {
  transform: rotateY(6.284rad);
  transition: 300ms linear all;
}

@media (max-width: 600px) {
  .Example {
    font-size: 400%;
  }
  .goBackButton {
    font-size: 70%;
  }
}

/* _______________________________________________________________________________ */

@-webkit-keyframes slideImage {
  0% {
    left: 50%;
  }
  100% {
    left: -700px;
  }
}

@-moz-keyframes slideImage {
  0% {
    left: 50%;
  }
  100% {
    left: -700px;
  }
}

@keyframes slideImage {
  0% {
    left: 50%;
  }
  100% {
    left: -700px;
  }
}
