.AnswerList {
  box-sizing: border-box;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  height: 80%;
  max-height: 450px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (max-width: 600px){
  .AnswerList {
    height: 350px;
  }
}

@media (max-height: 630px){
  .AnswerList {
    height: 380px;
  }
}

@media (max-height: 550px){
  .AnswerList {
    height: 300px;
  }
}
